@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:wght@300;400;500;700&display=swap;');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
  font-family: 'Roboto', sans-serif;
}
.game-screen {
  display: block;
  width: 100%;
}
.notation-board {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  max-width: 100%;
  height: calc(62px * 8);
  background: white;
  font-size: 16px;
  padding: 10px;
  font-family: sans-serif;
  overflow-y: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.notation-header {
  width: 100%;
  justify-content: space-between;
}
.notation-heading {
  width: 33%;
}
.notation-lists {
  justify-content: space-between;
  width: 100%;
}
.notation-list {
  width: 33%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.notation-list li{
  width: 33%;
}
.wrapper {
  height: auto;
  width: calc(62px * 8); /* keep this */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* was space-around */
  align-items: center;
}
.text-box {
  border: 1px solid black;
  background: white;
  width: calc(62px * 8);
  height: 38px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.text-box p {
  padding: 10px;
  font-size: 18px;
  font-family: arial, sans-serif;
}
#chess-board {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.board-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.square {
  height: 62px;
  width: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chess-piece {
  color: #000;
  font-size:48px;
}
.white-piece {
  color: #F9F9F9;
}
.black-piece {
  color: #000;
}
.white {
  background-color: #F0D9B5;
}
.black {
  background-color: #B58862;
}
.selected  {
  color: yellow;
}


.btn-info.txt-white {
  color: white;
}
@media only screen and (max-width: 900px) {
  .square {
    width: 43px;
    height: 43px;
  }
  .chess-board {
    height: 100vh;
  }
  .chess-piece {
    color: #000;
    font-size: 2em;
  }
  .white-piece {
    color: #F9F9F9;
  }
  .selected  {
    color: yellow;
  }
}
@media (max-width: 991.98px) {
  .notation-board-wrapper {
    display: none;
  }
  .game-screen {
    display: flex;
    justify-content: center;
  }
  .button-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

