/* @import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:wght@300;400;500;700&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background-color: #ccc;
  display: flex;
  flex-direction: row;
}
.side-bar {
  width: 220px;
  height: 100vh;
  background-color: white;
  border-right: 1px solid #000;
}
.side-bar ul {
  list-style-type: none;
}
.side-bar ul li {
  font-size: 24px;
  line-height: 1.5em;
  letter-spacing: .03em;
  font-family: arial, sans-serif;
  cursor: pointer;
  /* padding-left: 10px; */
}
.side-bar ul li:hover {
  background-color: #ccc;
}
.side-bar ul li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 10px 15px;
}
.side-bar ul li a:hover {
  background-color: white;
}
.side-bar ul li a:active {
  opacity: .6 ;
  color: black;
}
.game-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.notation-board {
  margin-left: 30px;
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  width: 250px;
  height: calc(8 * 62px);
  background: white;
  font-size: 18px;
  padding: 10px;
  font-family: sans-serif;
  overflow-y: auto;
}
.notation-board ul{
  width: 33%;
  list-style-type: none;
}
.wrapper {
  height: 100vh;
  width: calc(62 * 8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.text-box {
  border: 1px solid black;
  background: white;
  width: calc(62px * 8);
  height: 38px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.text-box p {
  padding: 10px;
  font-size: 18px;
  font-family: arial, sans-serif;
}
#chess-board {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.square {
  height: 62px;
  width: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chess-piece {
  color: #000;
  font-size:48px;
}
.white-piece {
  color: #F9F9F9;
}
.black-piece {
  color: #000;
}

.white {
  background-color: #F0D9B5;
}

.black {
  background-color: #B58862;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.selected  {
  color: yellow;
}


/* dropdown */
/* Dropdown Button */
.dropbtn {
  background-color: #fff;
  padding: 16px;
  font-size: 16px;
  width: 100%;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #ccc;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}
header {
  width:100%;
  height: 100vh;
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  .notation-board {
    /* color: red; */
    display: none;
  }
  .square {
    max-width: 40px;
    max-height: 40px;
  }
  .chess-board {
    max-height: 100vh;
  }
  .chess-piece {
    color: #000;
    font-size: 2em;
  }
}
